<% layout("layouts/boilerplate") %>

<body>
    <div class="signup-wrapper">
        <h2>SignUp to Wanderlust</h2>
        <br>
        <form class="create-new-wrapper needs-validation" novalidate action="/signup" method="post">
            <div>
                <label for="username" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" placeholder="enter username" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <br>
            <div>
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" placeholder="enter email" required>
            </div>
            <br>
            <div>
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" placeholder="enter password" required>
            </div>
            <br>
            <button class="btn btn-success" style="border: none; outline: none; color: #fff; padding: 6px 10px; border-radius: 10px; text-decoration: none;">SignUp</button>
        </form>
    </div>
</body>