<div class="footer-wrapper">
    <div class="footer-left">
        <span>© 2024 WanderLust, Inc.</span>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sitemap</a>
        <a href="#">Company details</a>
    </div>
    <div class="footer-right">
        <a href="#">English (IN)</a>
        <a href="#">₹ INR</a>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>