<script>
  function toggleMenu() {
    const dropdown = document.querySelector(".dropdown-menu");
    const hammy = document.querySelector(".hammy");
    dropdown.classList.toggle("show");
    hammy.classList.toggle("show");
  }

  function closeMenu() {
    const dropdown = document.querySelector(".dropdown-menu");
    const hammy = document.querySelector(".hammy");
    dropdown.classList.remove("show");
    hammy.classList.remove("show");
  }
</script>

<nav class="navbar-head">
  <div class="navbar-wrapper">
    <a class="logo-icon" href="/listings">
      <i class="fa-regular fa-compass"></i>&nbsp;
      <span>WanderLust</span>
    </a>
    <div class="search-listing-wrapper">
      <form action="/listings/search" method="get">
        <input type="text" name="q" id="query" class="search-listing-input" placeholder="Search for a listing or a region">
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="navigations">
      <div>
        <a href="/listings/new">Airbnb your home</a>
      </div>
      <% if(!currUser) { %>
        <a href="/signup"><b>SignUp</b></a>
        <a href="/login"><b>LogIn</b></a>
      <% } if(currUser) { %>
        <a href="/logout"><b>LogOut</b></a>
      <% } %>
    </div>
    <div class="hammy" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="dropdown-menu">
    <a href="/listings/new" onclick="closeMenu()">Airbnb your home</a>
    <% if(!currUser) { %>
      <a aria-current="page" href="/signup" onclick="closeMenu()">SignUp</a>
      <a href="/login" onclick="closeMenu()">LogIn</a>
    <% } if(currUser) { %>
      <a href="/logout" onclick="closeMenu()">LogOut</a>
    <% } %>
  </div>
</nav>

