@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    transition: all 0.4s ease-in-out;
}

:root {
    --primary-color: #423fe7;
    --secondary-color: #1220e6;
}

body {
    min-height: 100vh;
}


/* Target the scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Style the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    margin-top: 1.5rem;
    flex: 1;
    min-height: 76vh;
    width: 100% !important;
}

.all-listings-wrapper a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.all-listings-wrapper figcaption a {
    text-decoration: none;
    color: #000;
}

.all-listings-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.all-listings-wrapper img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.all-listings-wrapper button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.container {
    margin-top: 0.5rem !important;
}

.navbar-head {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff !important;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 4rem;
    padding: 0 0.5rem;
}

.navbar-wrapper .logo-icon {
    color: #ff0000;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.navbar-wrapper .logo-icon i {
    font-size: 22px;
}

.navbar-wrapper .navigations {
    margin-right: 0.5rem;
    display: flex;
    gap: 1rem;
}

.navbar-wrapper .navigations a {
    text-decoration: none;
    color: #000;
}

/* Hamburger menu */
.hammy {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hammy span {
    width: 22px;
    height: 3px;
    background-color: #ff0000;
    margin: 3px 0;
    transition: 0.4s;
}

.dropdown-menu {
    display: none;
    width: 100%;
    text-align: center;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu a {
    display: block;
    margin: 1rem 0;
    color: #000;
    text-align: left;
    margin-left: 2rem;
    font-size: 17px;
    text-decoration: none;
    background-color: none;
    width: fit-content;
}





@media (max-width: 768px) {
    .navbar-wrapper .navigations {
        display: none;
    }

    .logo-icon i {
        font-size: 27px !important;
    }

    .logo-icon span {
        display: none;
    }

    .search-listing-input {
        font-size: 15px;
    }

    .navigations {
        display: none;
    }

    .hammy {
        display: flex;
    }

    .navbar-container {
        justify-content: space-between;
    }

    .dropdown-menu.show {
        display: block;
        max-height: 20rem;
    }
    
    .hammy.show span:nth-of-type(1) {
        transform: rotate(45deg) translatey(6px);
    }
    .hammy.show span:nth-of-type(2) {
        display: none;
    }
    .hammy.show span:nth-of-type(3) {
        transform: rotate(-45deg) translatey(-6px);
    }
}

@media (max-width: 787px) {
    .navbar-wrapper .navigations {
        gap: 0.7rem;
    }

    .search-listing-input {
        width: 80%;
    }

    .search-listing-wrapper {
        width: 17.5rem !important;
    }
}




.create-new-wrapper input,
.create-new-wrapper textarea {
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    padding: 10px;
    margin: 10px 0px;
}

.footer-wrapper {
    background-color: #f7f7f7;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    height: min-content;
    width: 100%;
    margin-top: 2rem;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-left a,
.footer-right a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.footer-left span,
.footer-right span {
    font-size: 14px;
    color: #555;
}

.footer-right .social-icons a {
    font-size: 18px;
}


@media (max-width: 768px) {
    .footer-left {
        flex-direction: column;
    }
}


.all-listings-wrapper a {
    color: #000;
    text-decoration: none;

}

/* Cards */
.all-listings-wrapper .card {
    height: fit-content !important;
    margin: 1rem 0;
    border: none !important;
    transition: all 0.2s ease-in-out;
}

.all-listings-wrapper .card:hover {
    transform: scale(1.1, 1.1);
}

.all-listings-wrapper .card-body {
    border: none !important;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0rem !important;
}

.all-listings-wrapper .card-body span {
    font-size: 14px;
    font-weight: 600;
}

.all-listings-wrapper .card-body p {
    padding: 0;
    margin: 0;
}

.create-new-wrapper label {
    font-weight: bold;
    margin-top: .5rem;
}

.edit-wrapper label {
    font-weight: bold;
    margin-top: .5rem;
}

.price-location {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.price-location div {
    width: 100%;
}

.price-location label {
    margin-top: .5rem;
    width: 100%;
}

.submit-button {
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-decoration: none;
}


.listing-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.listing-details-wrapper img {
    width: 600px;
    height: 430px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.listing-details-wrapper ul {
    width: 45%;
}

.listing-details-wrapper .edit-btn,
.listing-details-wrapper .back-btn {
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.listing-details-wrapper .delete-btn {
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
    color: #fff;
    padding: 6px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.listing-details-wrapper .image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.listing-details-wrapper .listing-desc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-details-wrapper .rating-div {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .listing-details-wrapper .image-div img {
        height: 240px;
        width: 340px;
    }
}

@media (max-width: 1000px) {
    .listing-desc {
        display: flex;
        flex-direction: column;
    }
    
    .listing-desc ul{
        width: 90%;
    }
}

@media (max-width: 415px) {
    .listing-desc ul{
        width: 100%;
    }
}
@media (max-width: 445px) {
    .all-reviews {
        gap: 0;
        flex-direction: column;
    }
    .all-reviews .card,
    .all-reviews .card-body{
        width: 100% !important;
    }
}

.dropdown-toggle span {
    height: 2px;
    width: 2px;
    border-radius: 50%;
}







.all-reviews-wrapper h4 {
    margin: 2rem 0 1rem 0;
}

.reviews-wrapper {
    width: 100%;
}

.reviews-input {
    border: 1px solid #afafaf;
    border-radius: 15px;
    padding: 1.2rem;
    margin-top: 2rem;
}

.reviews-wrapper input {
    width: 30%;
}

.input-group-text {
    background-color: #fff !important;
}

.all-reviews .card {
    width: 47%;
}

.all-reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.starability-slot {
    min-height: 45px !important;
}

.signup-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-wrapper form {
    width: 35%;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between !important;
}

.search-listing-wrapper {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 25px;
    width: 22rem;
    height: min-content;
}

.search-listing-wrapper form {
    display: flex;
    justify-content: space-between;
}

.search-listing-input {
    border: none;
    outline: none;
    margin: 4px 0 4px 15px;
    background-color: transparent;
    width: 90%;
}

.search-button {
    border: none;
    outline: none;
    background-color: none;
    background: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    width: 2.5rem;
    height: 2.5rem;
    /* width: 100%; */
}

.search-button:hover {
    background-color: red;
}

.search-button:hover i {
    color: #fff;
}

.search-button i {
    background-color: none;
    color: red;
}

.go-back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.go-back-btn:hover {
    text-decoration: underline;

}

.go-back-btn span {
    font-size: 17px;
}

.go-back-btn i {
    font-size: 15px;
}